{% extends 'base.html.twig' %}

{% block title %}Wild Series{% endblock %}

{% block body %}

    <div class="container w-100 p-3 bg-light">
        <p>liste des épisodes:</p>
        {% for episode in saison.episodes %}
            <a href="{{ path("program_episode_show", { "program_id": saison.program.id, "season_id": saison.id,"episode_id": episode.id }) }}"> {{ episode.title }} </a>
        {% endfor %}
    </div>

{% endblock %}