{% extends 'base.html.twig' %}

{% block title %}Wild Series{% endblock %}

{% block body %}

    <div class="container w-100 p-3 bg-light">


        <p>liste des épisodes:</p>

    </div>

{% endblock %}