{% extends 'base.html.twig' %}

{% block title %}Wild Series{% endblock %}

{% block body %}
    {% include 'Wild/_header.html.twig' %}

    <div class="container w-100 p-3 bg-light">
         <h1> {{ id }} </h1>
    </div>

{% endblock %}